<nav class="pagination-wrapper d-flex flex-row align-items-center justify-content-end" aria-label="...">
  <span class="pagination-label">Go to:</span>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">...</li>
    <li class="page-item"><a class="page-link" href="#">9</a></li>
  </ul>
</nav>
