<ul class="rating-stars list-unstyled">
  <li class="star">
    <span class="icon-star-solid"></span>
  </li>
  <li class="star">
    <span class="icon-star-solid"></span>
  </li>
  <li class="star">
    <span class="icon-star-solid"></span>
  </li>
  <li class="star">
    <span class="icon-star-solid"></span>
  </li>
  <li class="star">
    <span class="icon-star-solid"></span>
  </li>
</ul>

<ul class="rating-stars list-unstyled">
  <li class="star">
    <span class="icon-star-outline"></span>
  </li>
  <li class="star">
    <span class="icon-star-outline"></span>
  </li>
  <li class="star">
    <span class="icon-star-outline"></span>
  </li>
  <li class="star">
    <span class="icon-star-outline"></span>
  </li>
  <li class="star">
    <span class="icon-star-outline"></span>
  </li>
</ul>
