<div class="rating">
  <ul class="rating-stars p-0 m-0 list-unstyled">
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star active">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
  </ul>
  <input type="hidden" name="rating" value="3">
</div>
