<div class="rating">
  <ul class="rating-stars list-unstyled">
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
    <li class="star">
      <span class="icon-star-solid"></span>
    </li>
  </ul>
  <input type="hidden" name="rating" value="0">
</div>
