<div class="container">
  <div class="filter-bar card d-flex flex-row align-items-center justify-content-between">
    <a class="dropdown-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ruby Developer<span class="icon-arrow-down"></span></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>

    <div class="d-none d-md-block">
      @@include('components/datepicker/datepicker.html')
    </div>
  </div>
</div>
