.chart-bar {
  .chart {
    svg {
      .yAxis{
        transform: translate(20px, 20px);
      }

      .xAxisIcon {
        font-family: icomoon !important;
        fill: $primary !important;
      }

      .xAxis .tick text{
        fill: $controls;
        font-size: 13px;
        font-weight: 500;
        font-family: $roboto;
      }
    }
  }
}
