<div class="container">
  <div class="page-heading d-flex flex-row align-items-end justify-content-between">
    <h3 class="page-title">Dashboard</h3>

    <div class="info-wrapper">
      <ul class="info list-unstyled m-0 d-flex flex-row align-items-start justify-content-between">
        <li>
          <div class="name">Candidates</div>
          <div class="count">
            <div class="number">253</div>
            <div class="update">
              <span class="icon-arrow-up text-success"></span>
              9
            </div>
          </div>
        </li>

        <li>
          <div class="name">Pending</div>
          <div class="count">
            <div class="number">236</div>
          </div>
        </li>

        <li>
          <div class="name">Tested</div>
          <div class="count">
            <div class="number">14</div>
            <div class="update">
              <span class="icon-arrow-up text-success"></span>
              9
            </div>
          </div>
        </li>

        <li>
          <div class="name">Approved</div>
          <div class="count">
            <div class="number">3</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
