.chart-line {
  .chart {
    svg {
      .area {
        stroke-width: 0;
      }

      .xAxis .tick {
        &:first-child text {
          visibility: hidden;
        }
      }

      .line {
        fill: none;
        stroke-width: 4px;
      }
    }
  }
}
