.input-group {
  & > .input-group-append {
    margin-left: -30px;
    background: $white;

    & > .btn {
      border-radius: $btn-border-radius;
    }
  }

  & > .form-control:not(:last-child) {
    border-radius: $input-border-radius;
    padding-right: $input-border-radius * 2;
  }
}

.list-rounded {
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    margin-bottom: 10px;
    font-size: .8125rem;
    line-height: 1;
    border-radius: 20px;
    background: #f9f9fd;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .name {
      @include media-breakpoint-down(md) {
        margin-bottom: 5px;
      }

      a {
        color: $primary;
        font-weight: 500;
        text-decoration: none !important;

        &:hover {
          color: $controls;
        }
      }

      strong {
        font-weight: 500;
      }
    }

    .date{
      @include media-breakpoint-down(md) {
        color: $text;
      }
    }
  }
}
