.input-group{
  & > .input-group-append{
    margin-left: -30px;
    background: $white;

    & > .btn{
      border-radius: $btn-border-radius;
    }
  }

  & > .form-control:not(:last-child){
    border-radius: $input-border-radius;
    padding-right: $input-border-radius * 2;
  }
}
