//project vars
$path-font: './fonts';
$path-img: './images';

$roboto: "Roboto", sans-serif;


//main
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1340px
);
$grid-columns: 10;


//$enable-responsive-font-sizes: true;
$enable-shadows: false;
$font-size-base: 16;
$font-family-base: $roboto;
$primary: #063dc7;
$secondary: #f4f4fc;
$danger: #ef4b00;
$success: #90c706;
$warning: #daba00;
$info: #17a2b8;
$light: #f9f9fd;
$dark: #474750;
$white: #fff;
$controls: #011c62;
$text: #8c8ca2;
$color: $primary;
$body-color: $controls;

$input-placeholder-color: $text;
$border-radius: 8px;

//typography
$small-font-size: .75rem;

//labels
$label-margin-bottom: 15px;

//buttons
$btn-padding-y-sm: 12px;
$btn-padding-y: 14px;
$btn-padding-y-lg: 16px;

$btn-padding-x-sm: 26px;
$btn-padding-x: 38px;
$btn-padding-x-lg: 40px;

$btn-font-size-sm: .575rem;
$btn-font-size: .625rem;
$btn-font-size-lg: .825rem;

$btn-border-radius-sm: 20px;
$btn-border-radius: 30px;
$btn-border-radius-lg: 40px;

$btn-line-height-sm: 1;
$btn-line-height: 1;
$btn-line-height-lg: 1.25;

$btn-border-width: 1px;
$btn-primary-color: $white;
$btn-secondary-color: $primary;
$btn-font-weight: 500;

//inputs
$input-height-sm: 30px;
$input-height: 40px;
$input-height-lg: 50px;

$input-font-size-sm: .75rem;
$input-font-size: .75rem;
$input-font-size-lg: 1rem;

$input-border-color: #d9d9e2;
$input-color: $controls;
$input-focus-border-color: $controls;
$input-focus-color: $controls;

$input-line-height-sm: 1.2;
$input-line-height: 1;
$input-line-height-lg: 1;

$input-padding-x-sm: 1rem;
$input-padding-x: 1.4375rem;
$input-padding-x-lg: 1.875rem;

$input-padding-y-sm: .4rem;
$input-padding-y: .8125rem;
$input-padding-y-lg: 1rem;

$input-border-radius-sm: 20px;
$input-border-radius: 22px;
$input-border-radius-lg: 50px;


//select
$custom-select-height-sm: $input-height-sm;
$custom-select-height: $input-height;
$custom-select-height-lg: $input-height-lg;
$custom-select-border-radius-sm: $input-border-radius-sm;
$custom-select-border-radius: $input-border-radius;
$custom-select-border-radius-lg: $input-border-radius-lg;

//dropdown
$dropdown-box-shadow: 1px 1px 35px 0 rgba(0,0,0,.08);
$dropdown-bg: $white;
$dropdown-color: $controls;
$dropdown-min-width: 240px;
$dropdown-font-size: .8125rem;
//$dropdown-divider-bg;
//$dropdown-divider-margin-y;
//$dropdown-header-color;
//$dropdown-spacer;
$dropdown-padding-y: .5rem;
$dropdown-border-width: 0;
//$dropdown-border-color;
$dropdown-border-radius: $input-border-radius;
$dropdown-inner-border-radius: $input-border-radius;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: .5rem;
//$dropdown-link-color: $controls;
//$dropdown-link-disabled-color: $text;
//$dropdown-link-active-bg;
//$dropdown-link-active-color;
//$dropdown-link-hover-bg;
//$dropdown-link-hover-color;

//checkbox
$custom-checkbox-indicator-border-radius: 3px;

//input groups
$input-group-addon-bg: $white;
$input-group-addon-color: $controls;
$input-group-addon-border-color: $input-border-color;

//tooltip
$tooltip-arrow-color: $white;
$tooltip-arrow-height: 20px;
$tooltip-bg: $white;
$tooltip-arrow-width: 20px;
$tooltip-border-radius: $border-radius;
$tooltip-color: $controls;
$tooltip-font-size: .75rem;
$tooltip-opacity: 1;
$tooltip-padding-x: 15px;
$tooltip-padding-y: 10px;

//tables
$table-bg: $white;
$table-color: $controls;
$table-accent-bg: #fafafc;
$table-head-bg: darken($secondary, 2%);
$table-active-bg: darken($secondary, 1%);
$table-hover-bg: darken($secondary, 2%);
$table-cell-padding: .25rem;
$table-striped-order: even;

//pagination
$pagination-bg: transparent;
$pagination-color: $controls;
$pagination-padding-x: 5px;
$pagination-padding-y: 6px;
$pagination-border-color: transparent;
$pagination-border-width: 0;
$pagination-line-height: 1;
//$pagination-hover-bg;
//$pagination-hover-border-color
//$pagination-hover-color;
$pagination-active-bg: $primary;
//$pagination-active-border-color;
//$pagination-active-color;
//$pagination-focus-box-shadow;
//$pagination-focus-outline;

//card
$card-bg: $white;
$card-border-color: transparent;
$card-border-radius: $border-radius;
$card-border-width: 0;
$card-columns-count: 1;
$card-columns-gap: 30px;
$card-columns-margin: 50px;
$card-spacer-x: 30px;
$card-spacer-y: 40px;
$card-color: $controls;

//list group
$list-group-border-width: 0;
$list-group-border-radius: 0;
$list-group-action-active-bg: lighten($primary, 49%);
$list-group-action-active-color: $white;
$list-group-item-padding-x: 30px;
$list-group-item-padding-y: 15px;


//badges
$badge-border-radius: 20px;
$badge-padding-x: 18px;
$badge-padding-y: 5px;
$badge-font-size: .8125rem;
$badge-font-weight: 500;
