//project vars
$path-font: './fonts';
$path-img: './images';

$roboto: "Roboto", sans-serif;


//main
//$enable-responsive-font-sizes: true;
$enable-shadows: false;
$font-size-base: 16;
$font-family-base: $roboto;
$primary: #063dc7;
$secondary: #f4f4fc;
$danger: #ef4b00;
$success: #90c706;
$warning: #daba00;
$info: #17a2b8;
$light: #f9f9fd;
$dark: #343a40;
$white: #fff;
$controls: #011c62;
$text: #8c8ca2;
$color: $primary;

$input-placeholder-color: $text;
$border-radius: 8px;

//typography
$small-font-size: .75rem;

//labels
$label-margin-bottom: 15px;

//buttons
$btn-padding-y-sm: 12px;
$btn-padding-y: 14px;
$btn-padding-y-lg: 16px;

$btn-padding-x-sm: 26px;
$btn-padding-x: 38px;
$btn-padding-x-lg: 40px;

$btn-font-size-sm: .575rem;
$btn-font-size: .625rem;
$btn-font-size-lg: .825rem;

$btn-border-radius-sm: 20px;
$btn-border-radius: 30px;
$btn-border-radius-lg: 40px;

$btn-line-height-sm: 1;
$btn-line-height: 1;
$btn-line-height-lg: 1.25;

$btn-border-width: 1px;
$btn-primary-color: $white;
$btn-secondary-color: $primary;
$btn-font-weight: 500;

//inputs
$input-height-sm: 30px;
$input-height: 40px;
$input-height-lg: 50px;

$input-font-size-sm: .75rem;
$input-font-size: .75rem;
$input-font-size-lg: 1rem;

$input-border-color: #d9d9e2;
$input-color: $controls;
$input-focus-border-color: $controls;
$input-focus-color: $controls;

$input-line-height-sm: 1.2;
$input-line-height: 1;
$input-line-height-lg: 1;

$input-padding-x-sm: 1rem;
$input-padding-x: 1.4375rem;
$input-padding-x-lg: 1.875rem;

$input-padding-y-sm: .4rem;
$input-padding-y: .8125rem;
$input-padding-y-lg: 1rem;

$input-border-radius-sm: 20px;
$input-border-radius: 22px;
$input-border-radius-lg: 50px;


//select
$custom-select-height-sm: $input-height-sm;
$custom-select-height: $input-height;
$custom-select-height-lg: $input-height-lg;
$custom-select-border-radius-sm: $input-border-radius-sm;
$custom-select-border-radius: $input-border-radius;
$custom-select-border-radius-lg: $input-border-radius-lg;

//dropdown
$dropdown-box-shadow: 1px 1px 35px 0 #e9e9ee;
$dropdown-bg: $white;
$dropdown-color: $controls;
$dropdown-min-width: 240px;
$dropdown-font-size: .75rem;
//$dropdown-divider-bg;
//$dropdown-divider-margin-y;
//$dropdown-header-color;
//$dropdown-spacer;
$dropdown-padding-y: 1.25rem;
$dropdown-border-width: 0;
//$dropdown-border-color;
$dropdown-border-radius: $input-border-radius;
$dropdown-inner-border-radius: $input-border-radius;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: .25rem;
//$dropdown-link-color: $controls;
//$dropdown-link-disabled-color: $text;
//$dropdown-link-active-bg;
//$dropdown-link-active-color;
//$dropdown-link-hover-bg;
//$dropdown-link-hover-color;

//checkbox
$custom-checkbox-indicator-border-radius: 3px;

//input groups
$input-group-addon-bg: $white;
$input-group-addon-color: $controls;
$input-group-addon-border-color: $input-border-color;
