@@include('views/head.html', {"title" : "home"})
<body>
<div class="container">
  <div class="list-group mt-5 mr-auto ml-auto ">
    <a href='#' class="list-group-item list-group-item-action active">
      Pages
    </a>
    <a href='components.html'
       class="list-group-item list-group-item-action text-success"
       tabindex="-1"
       aria-disabled="true">
      Components
    </a>
    <a href='dashboard.html'
       class="list-group-item list-group-item-action text-warning"
       tabindex="-1"
       aria-disabled="true">
      Dashboard
    </a>
    <a href='candidates.html'
       class="list-group-item list-group-item-action text-warning"
       tabindex="-1"
       aria-disabled="true">
      Candidates
    </a>
    <a href='@@if (env === "live"){test.html}'
       class="list-group-item list-group-item-action"
       tabindex="-1"
       aria-disabled="true">
      Test
    </a>
    <a href='@@if (env === "live"){new-job.html}'
       class="list-group-item list-group-item-action"
       tabindex="-1"
       aria-disabled="true">
      New job
    </a>
    <a href='@@if (env === "live"){invite-candidates.html}'
       class="list-group-item list-group-item-action"
       tabindex="-1"
       aria-disabled="true">
      Invite candidates
    </a>
    <a href='profile.html'
       class="list-group-item list-group-item-action text-warning"
       tabindex="-1"
       aria-disabled="true">
      Profile
    </a>
    <a href='comparison.html'
       class="list-group-item list-group-item-action text-warning"
       tabindex="-1"
       aria-disabled="true">
      Profile Comparison
    </a>
    <a href='@@if (env === "live"){settings.html}'
       class="list-group-item list-group-item-action"
       tabindex="-1"
       aria-disabled="true">
      Settings
    </a>
  </div>
</div>

@@include('views/scripts.html')
</body>
</html>
