<div class="file-loader">
  <div class="file-loader-drop-area">
    <form class="file-loader-form">
      <p class="file-loader-drop-message active">Drop a file here to upload a logo.</p>
      <input type="file" id="fileLoader" class="file-loader-input btn btn-primary" accept="image/*">
    </form>

    <div class="file-loader-preview">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Image preview">
      <p class="file-loader-preview-info"></p>

      <a href="javascript:void(0)" class="file-loader-preview-remove">Delete</a>
    </div>
  </div>
</div>
