@@include('views/head.html', {"title" : "Components"})
<body>
<div class="container mt-5 mb-5">
  <section class="component-section">
    <h2>Icons</h2>

    <section class="component-section">
    <span class="icon-checkmark"></span>
    <span class="icon-stones"></span>
    <span class="icon-clock"></span>
    <span class="icon-search"></span>
    <span class="icon-speedometer"></span>
    <span class="icon-case"></span>
    <span class="icon-profile"></span>
    <span class="icon-question"></span>
    <span class="icon-bell"></span>
    <span class="icon-arrow-down"></span>
    <span class="icon-gear"></span>
    <span class="icon-lamp"></span>
    <span class="icon-lamp icon-white-circle"></span>
    <span class="icon-chart"></span>
    <span class="icon-chart icon-white-circle"></span>
    <span class="icon-star-outline"></span>
    <span class="icon-star-outline icon-white-circle"></span>
    <span class="icon-heart-outline"></span>
    <span class="icon-heart-outline icon-white-circle"></span>
    <span class="icon-gallery"></span>
    <span class="icon-filter"></span>
    <span class="icon-plus-rounded"></span>
    <span class="icon-arrow-left"></span>
    <span class="icon-arrow-right"></span>
    <span class="icon-calendar"></span>
    <span class="icon-envelope"></span>
    <span class="icon-phone"></span>
    <span class="icon-plus-rounded-circle"></span>
    <span class="icon-minus-rounded-circle"></span>
    <span class="icon-check"></span>
    <span class="icon-star-solid"></span>
    <span class="icon-profile-outline"></span>
    <span class="icon-plus-rounded-square"></span>
    <span class="icon-edit-square"></span>
    <span class="icon-trash-bucket"></span>
    <span class="icon-brain"></span>
    <span class="icon-brain icon-white-circle"></span>
    <span class="icon-smile-sfwse"></span>
    <span class="icon-smile-sfwse icon-white-circle"></span>
    <span class="icon-smile-confused"></span>
    <span class="icon-smile-confused icon-white-circle"></span>
    <span class="icon-plus-circle icon-white-circle"></span>
    </section>
  </section>

  <section class="component-section">
    <h2>Buttons</h2>

    <section class="component-section">
    <h5>Default</h5>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
    </section>

    <section class="component-section">
      <h5>Outlined</h5>
      <button type="button" class='btn btn-outline-primary'>Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-light">Light</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
    </section>

    <section class="component-section">
      <h5>Sizes</h5>
      <h6>lg</h6>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
      <button type="button" class="btn btn-secondary btn-lg">Large button</button>
      <h6>sm</h6>
      <button type="button" class="btn btn-primary btn-sm">Small button</button>
      <button type="button" class="btn btn-secondary btn-sm">Small button</button>
    </section>

    <section class="component-section">
      <h5>Active state</h5>
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
      <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
    </section>

    <section class="component-section">
      <h5>Disabled</h5>
      <h6>button</h6>
      <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>
      <h6>link</h6>
      <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Primary
        link</a>
      <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Link</a>
    </section>
  </section>
</div>


@@include('views/scripts.html')
</body>
</html>
