<div class="chart-spider">
  <div class="chart-wrapper">
    <div class="chart"></div>

    <span class="center"></span>

    <div class="chart-legends">
      <div class="legend legend-top">
        <div class="text">Intelligence Quoficient</div>

        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="badge badge-warning">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            59
          </div>
          <div class="badge badge-warning">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            58
          </div>
        </div>
      </div>

      <div class="legend legend-top-left">
        <div class="text">Emotional Intelligence</div>

        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="badge badge-primary">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            84
          </div>
          <div class="badge badge-danger">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            7
          </div>
        </div>
      </div>

      <div class="legend legend-top-right">
        <div class="text">Organizational Culture Fit</div>

        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="badge badge-warning">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            53
          </div>
          <div class="badge badge-primary">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            60
          </div>
        </div>
      </div>

      <div class="legend legend-bottom-left">
        <div class="text">Personality Job Fit</div>

        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="badge badge-warning">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            58
          </div>
          <div class="badge badge-primary">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            64
          </div>
        </div>
      </div>

      <div class="legend legend-bottom-right">
        <div class="text">Red Flag Scoring</div>

        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="badge badge-success">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            84
          </div>
          <div class="badge badge-warning">
            <img class="rounded-circle" src="images/avatar-1.jpg" alt="avatar">
            40
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
