.page-header {
  box-shadow: 1px 1px 5px 0 #e9e9ee;
  margin-bottom: 25px;

  .logo {
    display: block;
    width: 114px;
    margin-right: 25px;
  }

  .navigation {
  }

  .actions {
    .support {
      @extend .header-divider;

      &:before {
        right: 0;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .notification,
      .settings {
        display: block;
        padding: 21px 15px;
        font-size: 1.375rem;
        line-height: 1;
        text-decoration: none !important;
        color: $primary;

        &:hover {
          color: $controls;
        }
      }

      .notification {
        [class^="icon"] {
          position: relative;
          border-radius: 100%;
          background: $secondary;

          &:after {
            content: '';
            position: absolute;
            top: -1px;
            right: -1px;
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            background: $success;
            border-radius: 100%;
          }
        }

        &.active {
          [class^="icon"] {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    .profile {
      margin-left: 30px;
      padding: 12px 0;
      text-decoration: none !important;

      @include media-breakpoint-down(md) {
        margin-left: 0;
        padding-left: 15px;
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }

      .name {
        font-size: .875rem;
        color: $controls;
        font-weight: 500;
        margin-left: 10px;
      }

      .position {
        font-size: .75rem;
        color: $text;
        margin-left: 10px;
      }

      [class^="icon"] {
        margin-left: 20px;
        font-size: .75rem;
        color: $primary;

        @include media-breakpoint-down(md) {
          margin-left: 10px;
        }
      }
    }
  }
}

.page-navigation {
  @extend .header-divider;

  &:before {
    left: 0;
  }

  ul {
    li {
      margin-right: 15px;

      &:first-child {
        margin-left: 25px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active a {
        color: $primary;
      }

      a {
        font-size: .875rem;
        line-height: 1;
        padding: 24px 15px;
        text-decoration: none !important;
        color: $dark;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
          padding: 24px 10px;
        }

        &:hover,
        &:focus {
          color: $controls;
        }

        &:active {
          color: $primary;
        }

        [class^="icon-"] {
          margin-right: 15px;
          font-size: 1rem;
        }
      }
    }
  }

  &-sm {
    position: relative;

    .collapse-menu {
      box-shadow: 2px 2px 10px 0 #e9e9e9;
      z-index: $zindex-dropdown;
      position: absolute;
      top: 100%;
      left: -10px;
      right: -10px;
      background: $white;
      border-radius: $border-radius;
      margin-top: 10px;
      overflow: hidden;

      ul {
        li {
          margin: 0;

          &:hover {
            background: #fafafc;
          }

          &:nth-child(even) {
            background: #fafafc;
          }

          a {
            color: $controls;
            padding: 14px 25px;

            &:hover {
              color: $primary;
            }

            [class^="icon-"] {
              margin-right: 15px;
              font-size: 1rem;
              color: $primary;
            }
          }

          & > a {
            &[data-toggle="collapse"] {
              position: relative;
              @extend .icon-arrow-down;

              &:before {
                position: absolute;
                top: 15px;
                right: 15px;
                color: $success;
                font-size: .8125rem;
                font-family: icomoon;
              }

              &:hover,
              &:focus,
              &.active {
                &:before {
                  color: $success;
                }
              }
            }

            &.collapsed {
              &:before {
                color: $primary;
              }

              &:hover,
              &:focus,
              &.active {
                &:before {
                  color: $controls;
                }
              }
            }
          }

          ul {
            padding: 0;

            li {
              &:first-child {
                margin-top: 5px;
              }

              &:last-child {
                margin-bottom: 5px;
              }

              background: $white;

              a {
                font-weight: 400;
                color: $controls;
                padding: 7px 15px 7px 60px;

                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

.btn-toggle {
  height: 50px;
  width: 100%;
  display: block;
  position: relative;

  span {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 2px;
      background: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: .2s opacity ease-in-out, .25s transform ease-in-out;
    }

    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(0);
    }

    &:nth-child(3) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &.collapsed {
    span {
      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - 6px)) rotate(0);
      }

      &:nth-child(2) {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 6px)) rotate(0);
      }
    }
  }
}

.shortcuts {
  ul {
    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &, & a {
        color: $white;
        font-size: .875rem;
      }

      a {
        display: block;
        text-decoration: none !important;
        padding: 15px;

        &:hover {
          color: rgba($white, .8);
        }
      }
    }
  }
}

//helpers
.header-divider {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-right: 2px solid #e9e9ee;
    height: 20px;
    width: 0;
  }
}
