<div class="accordion" id="accordionComponent">
  <div class="accordion-item">
    <h2 id="headingOne"
        class="accordion-heading m-0 btn btn-secondary btn-block text-left"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne">
      <span class="state text-success">+</span>
      Lorem ipsum dolor sit amet enim.
      <span class="icon-arrow-right"></span>
    </h2>

    <div id="collapseOne"
         class="collapse show"
         aria-labelledby="headingOne"
         data-parent="#accordionComponent">
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas
          malesuada
          elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum
          commodo volutpat a, convallis ac, laoreet enim.
        </p>

        <p>
          Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
          mauris.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 id="headingTwo"
        class="accordion-heading m-0 btn btn-secondary btn-block text-left collapsed"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo">
      <span class="state text-danger">—</span>
      Lorem ipsum dolor sit amet enim.
      <span class="icon-arrow-right"></span>
    </h2>

    <div id="collapseTwo"
         class="collapse"
         aria-labelledby="headingTwo"
         data-parent="#accordionComponent">
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas
          malesuada
          elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum
          commodo volutpat a, convallis ac, laoreet enim.
        </p>

        <p>
          Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
          mauris.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 id="headingThree"
        class="accordion-heading m-0 btn btn-secondary btn-block text-left collapsed"
        data-toggle="collapse"
        data-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree">
      <span class="state text-danger">—</span>
      Lorem ipsum dolor sit amet enim.
      <span class="icon-arrow-right"></span>
    </h2>

    <div id="collapseThree"
         class="collapse"
         aria-labelledby="headingThree"
         data-parent="#accordionComponent">
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas
          malesuada
          elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum
          commodo volutpat a, convallis ac, laoreet enim.
        </p>

        <p>
          Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
          mauris.
        </p>
      </div>
    </div>
  </div>
</div>
